
body{
background-color: green;
}
.myform{
	margin:20px;
	width:250px;
	height:120px;
	display:flex;
	flex-direction: column;
	background-color: green;
	justify-content: space-around;
	align-items: center;

} 
.myform input[type='text']{
	width:200px;
	padding: 6px;
}

